<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>{{ ansible_hostname | capitalize }}</title>
    <meta name="description" content="{{ ansible_hostname | capitalize }} - landing page" />
    <meta name="author" content="Pavel Dostál" />
    <style>
      h1 { margin: 0px; font-weight: normal; }
      ul { margin: 0px; padding-left: 15px; }
      footer { margin-top: 3px; }
      a { color: #000; }
    </style>
  </head>
  <body>
    <h1>Welcome on <b>{{ ansible_hostname }}</b> in <b>{{ region }}</b> !</h1>
    <ul>
      {% if ansible_distribution == 'Debian' %}
      <li><i>IP v4</i>: <b>{{ ansible_eth0.ipv4.address }}</b></li>
      <li><i>IP v6</i>: <b>{{ ansible_eth0.ipv6[0].address }}</b></li>
      <li><i>Distro</i>: <b>{{ ansible_distribution }}</b> {{ ansible_distribution_version }} {{ ansible_distribution_release }}</li>
      {% endif %}
      {% if ansible_distribution == 'FreeBSD' %}
      <li><i>IP v4</i>: <b>{{ ansible_vtnet0.ipv4[0].address }}</b></li>
      <li><i>IP v6</i>: <b>{{ ansible_vtnet0.ipv6[1].address }}</b></li>
      <li><i>Distro</i>: <b>{{ ansible_distribution }}</b> {{ ansible_distribution_release }} {{ ansible_architecture }}</li>
      {% endif %}
      {% if ansible_distribution == 'CentOS' %}
      <li><i>IP v4</i>: <b>{{ ansible_eth0.ipv4.address }}</b></li>
      <li><i>IP v6</i>: <b>{{ ansible_eth0.ipv6[0].address }}</b></li>
      <li><i>Distro</i>: <b>{{ ansible_distribution }}</b> {{ ansible_distribution_version }}</li>
      {% endif %}

      <li><i>Family</i>: <b>
        <a href="http://sorrel.pdostal.cz/">sorrel</a> &amp;
        <a href="http://rhubarb.pdostal.cz/">rhubarb</a> &amp;
        <a href="http://cucumber.pdostal.cz/">cucumber</a>
      </b></li>
    </ul>
    <footer>
      &#8212 2015 &copy; <a itemprop="url" href="mailto:pdostal@pdostal.cz/">Pavel Dostál</a>
    </footer>
  </body>
</html>
